<div class="flex text-left relative font-medium px-6 py-2 mb-8">
  <div class="tweet-avatar">
    <div class="w-16 h-16 mx-auto bg-blue-fade border-4 border-black-fade rounded-full">
      <img class="rounded-full" src="https://pbs.twimg.com/profile_images/1233902953389580297/JQLhiQDb_400x400.jpg" alt="Logo">
    </div>
  </div>
  <div class="whitespace-pre-line flex-1 ml-6">
    <p><%= @twitter_thread.user.name %> - <em class="text-gray-700 text-sm">@<%= @twitter_thread.user.nickname %></em></p>
    <div data-url="<%= edit_twitter_thread_tweet_path(@twitter_thread, tweet) %>" data-id="<%= tweet.position %>" data-action="click->tweet#edit"><%= tweet.content %></div>
  </div>
</div>